@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thumb-gray-800::-webkit-scrollbar-thumb {
    background-color: rgb(31 41 55);
    border-radius: 3px;
  }

  .scrollbar-track-transparent::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgb(55 65 81);
  }
}
